@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color:#F0D7B8;   
}

main { /* header sma body sy gabung soalnya bgnya sama */
    background-image: url(sprites/home/BG.png);
    height: 85vh;
}

/* header */

header {
    padding: 20px;
}

nav {
    display: flex;
}

nav div {
    margin: 20px;
}

nav span {
    padding: 10px;
    display: block;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color:#FFA800;
}

nav ul {
    list-style-type: none;
    margin: 0;
    position: absolute;
    padding: 20px 40px 20px 10px;
    z-index: 10;
    background-color: rgba(240, 215, 184, 0.1);   
    display: none;
}

nav li {
    padding: 8px 5px;
}

nav img {
    width: 60px;
}

.menu-icon {
    margin-right: 50px;
}

.menu-icon:hover > ul {
    display: block;
}

.menu-icon:hover {
    cursor: pointer;
    background-color: rgba(240, 215, 184, 0.1);  
}

.nav-title {
    text-align: center;
}

.nav-title span {
    padding: 0;
    display: inline;
    color:#FFA800;
    background-color: rgba(0, 0, 0, 0);
}

/* body */

.board-bg {
    position: relative;
}

.board-bg img{
    float: right;
    height: 68vh;
    width: 90vw;
}

.arrows {
    position: absolute;
    right: 2vw;
    top: 37vh;
}

.arrow {
    width: 100px;
    height: 100px;
    margin: 20px 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#up {
    background-image: url("sprites/home/Layer\ 5\ copy.png");
}

#down {
    background-image: url("sprites/home/Layer\ 5.png");
}

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100vw;
    height: 65vh;
}

.burger, .description {
    position: relative;
    width: 50%;
    overflow: visible;
}

.description {
    background-color: red;
    opacity: 0.2;
}

.burger img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
}

/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: 15vh;
    background-color: #4C1B1B;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo h2 {
    font-size: 0.8rem;
    text-align: center;
    margin-left: 80px;
}

.social-media {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.social-media img {
    width: 60px;
}

.footer-info div {
    display: flex;
    align-items: flex-end;
}

.footer-info div img {
    width: 60px;
}

.footer-info h2 {
    font-size: 0.8rem;
    text-align: right;
    margin-left: 20px;
    padding-bottom: 10px;
}

.footer-info span {
    font-style: italic;
    font-size: 0.8rem;
}

.location {
    margin-bottom: 20px;
}