@media (max-width: 700px) {
    
    main {
        background-image: url("../../sprites/home/BG3.png");
    }

    main>h1 {
        margin-top: 5rem;
        margin-bottom: 0;
    }

    header {
        height: 60vh;
        padding: 20px 0;
    }

    nav {
        flex-direction: column-reverse;
        align-items: center;
        height: 60vh;
    }

    .menu-icon span {
        display: none;
    }

    .menu-icon ul {
        margin: 0;
        padding: 0;
        text-align: center;
        position: static;
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
    }

    .menu-icon:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    .burgers {
        margin-top: -0.5rem;
    }

    .burger-container {
        min-width: 30rem;
        padding: 12rem 2rem 2rem 2rem;
        margin-bottom: 6rem;
        border-radius: 13%;
    }

    .burger-container img {
        left: 0;
        width: 25rem;
    }

    footer {
        flex-direction: column;
        height: 40vh;
        padding: 20px 0;
    }

    .footer-logo {
        flex-direction: column;
    }

    .motto {
        white-space: normal;
        margin: 5px 0;
    }

    .social-media {
        margin-right: 0;
        width: 120px;
    }
}

@media (max-width: 480px) {

    .burgers {
        margin-top: 1rem;
    }
    .burger-container {
        min-width: 20rem;
        padding-top: 6rem;
    }

    .burger-container img {
        left: 0;
        width: 18rem;
    }
}