html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    line-height: 1.3;
    background-image: url("../sprites/home/BG2.png");
    font-family: "Roboto", sans-serif;
    color: #F0D7B8;
    height: 100vh;
    position: relative;
    box-sizing: inherit;
    margin: 0;
}

/* Main */

main {
    text-align: center;
}

.burgers {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.burger-container {
    border-radius: 15%;
    box-shadow: 0 0 2rem black;
    width: 20rem;
    text-align: center;
    position: relative;
    padding-top: 12em;
    padding-bottom: 2rem;
    margin: 5rem 2.5rem 2.5rem 2.5rem;
}

.burger-container img {
    position: absolute;
    top: -9.5rem;
    margin: 0px auto;
    left: -10%;
    right: 0;
    width: 120%;
}

.burger-container p {
    margin: 0 2rem;
}

.orange {
    color: #FFA800;
}

/* add-on */

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #FFA800;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}