.yellow {
    color: #FFA800;
}

/* header */

main {
    background-image: url("../sprites/home/BG2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 15vh;
}

header * {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #F0D7B8;
}

nav {
    display: flex;
    height: 15vh;
}

nav div {
    margin: 20px;
}

nav span {
    padding: 10px 10px 4px 10px;
    display: block;
    text-decoration: none;
}

nav a {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #FFA800;
}

nav li {
    padding: 8px 5px;
}

nav img {
    width: 40px;
}

.menu-icon {
    margin-right: 30px;
}

.menu-icon ul {
    list-style-type: none;
    margin: 0px;
    position: absolute;
    padding: 5px 30px 5px 5px;
    z-index: 10;
    background-color: rgba(240, 215, 184, 0.1);
    text-align: left;
    display: none;
}

.menu-icon:hover>ul {
    display: block;
}

.menu-icon:hover {
    cursor: pointer;
    background-color: rgba(240, 215, 184, 0.1);
}

.nav-logo-title {
    display: flex;
    margin: 0;
}

.nav-title {
    margin-left: 0;
    padding-top: 10px;
    text-align: center;
}

.nav-title span {
    padding: 0;
    display: inline;
    background-color: rgba(0, 0, 0, 0);
}

/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    height: 15vh;
    background-color: #4C1B1B;
}

footer * {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #F0D7B8;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 50px;
}

.motto {
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
    margin-left: 4vw;
    white-space: pre-line;
}

.social-media {
    margin-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10vw;
}

.social-media img {
    width: 30px;
}

.footer-info div {
    display: flex;
    align-items: flex-end;
}

.footer-info img {
    width: 30px;
}

.footer-info h2 {
    font-size: 0.8rem;
    text-align: right;
    margin-left: 10px;
    padding-bottom: 5px;
}

.footer-info span {
    font-style: italic;
    font-size: 0.8rem;
}

.location {
    margin-bottom: 5px;
}