@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #F0D7B8;
}

.yellow {
    color: #FFA800;
}

/* body */

.homeHeight {
    height: 70vh;
}

.board-bg {
    position: relative;
}

.board-bg img {
    float: right;
    height: 68vh;
    width: 90vw;
}

.arrows {
    position: absolute;
    right: 1vw;
    top: 36vh;
}

.mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.arrow {
    width: 100px;
    height: 60px;
    margin: 10px 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-right,
.arrow-left {
    display: none;
    width: 100px;
    height: 60px;
    margin: 10px 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.arrow-left:hover,
.arrow-right:hover {
    cursor: pointer;
}

#up {
    background-image: url("../sprites/home/arrow_up1.png");
}

#up:active {
    background-image: url("../sprites/home/arrow_up2.png");
}

#down {
    background-image: url("../sprites/home/arrow_down1.png");
}

#down:active {
    background-image: url("../sprites/home/arrow_down2.png");
}

.arrow-left {
    background-image: url("../sprites/home/arrow_left1.png");
}

.arrow-left:active {
    background-image: url("../sprites/home/arrow_left2.png");
}

.arrow-right {
    background-image: url("../sprites/home/arrow_right1.png");
}

.arrow-right:active {
    background-image: url("../sprites/home/arrow_right2.png");
}

.content {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 65vh;
}

.burger,
.information {
    position: relative;
    width: 50%;
    overflow: visible;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25vw;
}

.burger img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    margin-left: -8vw;
}

.title {
    margin-top: 50px;
}

.title h1 {
    font-size: 4.5vw;
    line-height: 4.5vw;
}

.second {
    margin-left: 6vw;
}

.description {
    white-space: pre-line;
    font-size: 0.8rem;
    margin: 5px 0 40px 0;
}

.price {
    display: flex;
    justify-content: space-between;
    width: 25vw;
}

.btn {
    background-color: #FFA800;
    padding: 5px 2.5vw;
    border-radius: 20px;
    line-height: 15px;
}

.btn h1 {
    color: whitesmoke;
}

.btn:hover {
    cursor: pointer;
}

.promotionalContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.promotionalBurger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.promotionalBurger img {
    width: 60%;
    margin: 0 auto;
}

.promotionalBurger h1 {
    font-size: 2.5vw;
    line-height: 2.5vw;
}

.promotionalBurger h2 {
    font-size: 1.5vw;
    line-height: 1.5vw;
}