@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #F0D7B8;
}

.yellow {
    color: #FFA800;
}

/* header */

main {
    background-image: url("../sprites/home/BG2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {

    height: 15vh;
}

nav {
    display: flex;
    height: 15vh;
}

.homeHeight {
    height: 70vh;
}

nav div {
    margin: 20px;
}

nav span {
    padding: 10px;
    display: block;
    text-decoration: none;
}

nav a {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #FFA800;
}

nav li {
    padding: 8px 5px;
}

nav img {
    width: 40px;
}

.menu-icon {
    margin-right: 30px;
    margin-bottom: 19px;
}

.menu-icon ul {
    list-style-type: none;
    margin: 0;
    position: absolute;
    padding: 5px 30px 5px 5px;
    z-index: 10;
    background-color: rgba(240, 215, 184, 0.1);
    display: none;
}

.menu-icon:hover>ul {
    display: block;
}

.menu-icon:hover {
    cursor: pointer;
    background-color: rgba(240, 215, 184, 0.1);
}

.nav-logo-title {
    display: flex;
    margin: 0;
}

.nav-title {
    margin-left: 0;
    padding-top: 10px;
    text-align: center;
}

.nav-title span {
    padding: 0;
    display: inline;
    background-color: rgba(0, 0, 0, 0);
}

/* body */

.board-bg {
    position: relative;
}

.board-bg img {
    float: right;
    height: 68vh;
    width: 90vw;
}

.arrows {
    position: absolute;
    right: 1vw;
    top: 36vh;
}

.arrow {
    width: 100px;
    height: 60px;
    margin: 10px 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#up {
    background-image: url("../sprites/home/arrow_up.png");
}

#down {
    background-image: url("../sprites/home/arrow_down.png");
}

.content {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 auto;
    width: 100vw;
    height: 65vh;
}

.burger,
.information {
    position: relative;
    width: 50%;
    overflow: visible;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25vw;
}

.burger img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    margin-left: -8vw;
}

.title {
    margin-top: 50px;
}

.title h1 {
    font-size: 4.5vw;
    line-height: 4.5vw;
}

.second {
    margin-left: 6vw;
}

.description {
    white-space: pre-line;
    font-size: 0.8rem;
    margin: 5px 0 40px 0;
}

.price {
    display: flex;
    justify-content: space-between;
    width: 25vw;
}

.btn {
    background-color: #FFA800;
    padding: 5px 2.5vw;
    border-radius: 20px;
    line-height: 15px;
}

.btn h1 {
    color: whitesmoke;
}

.btn:hover {
    cursor: pointer;
}

/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    height: 15vh;
    background-color: #4C1B1B;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 50px;
}

.motto {
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
    margin-left: 4vw;
    white-space: pre-line;
}

.social-media {
    margin-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10vw;
}

.social-media img {
    width: 30px;
}

.footer-info div {
    display: flex;
    align-items: flex-end;
}

.footer-info img {
    width: 30px;
}

.footer-info h2 {
    font-size: 0.8rem;
    text-align: right;
    margin-left: 10px;
    padding-bottom: 5px;
}

.footer-info span {
    font-style: italic;
    font-size: 0.8rem;
}

.location {
    margin-bottom: 5px;
}