@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #F0D7B8;
}

.yellow {
    color: #FFA800;
}

/* body */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}

section h1 {
    font-size: 32px;
}

section h3 {
    font-size: 16px;
}

.makeBurger-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
}

.ingredient-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.ingredient img {
    width: 30%;
    margin: 20px;
}

#vegetables {
    flex-direction: row;
    justify-content: center;
}

#vegetables img {
    margin: 0 10vw;
    width: 25%;
}

#fish {
    margin-right: 20px;
}

.result {
    background-image: url("../../sprites/home/cutting-board.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    height: 20vw;
    width: 30vw;
}

.result img {
    width: 40%;
}

.result > .sauce-result {
    width: 38%;
}

.topBun-result {
    z-index: 50;
}

.veggie-result {
    margin-top: -18%;
    z-index: 40; 
}

.sauce-result {
    margin-top: -14%;
    z-index: 30; 
}

.meat-result {
    margin-top: -16%;
    z-index: 20;
}

.botBun-result {
    margin-top: -19%;
}

.hidden {
    display: none;
}

.btn {
    background-color: #FFA800;
    padding: 5px 2.5vw;
    border-radius: 20px;
    margin-top: 20px;
}

.btn h1 {
    color: whitesmoke;
    font-size: 2vw;
}

.btn:hover {
    cursor: pointer;
}
