@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #F0D7B8;
}

.yellow {
    color: #FFA800;
}

/* header */

main {
    background-image: url("../sprites/home/BG2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 15vh;
}

nav {
    display: flex;
    height: 15vh;
}

nav div {
    margin: 20px;
}

nav span {
    padding: 10px;
    display: block;
    text-decoration: none;
}

nav a {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #FFA800;
}

nav li {
    padding: 8px 5px;
}

nav img {
    width: 40px;
}

.menu-icon {
    margin-right: 30px;
    margin-bottom: 19px;
}

.menu-icon ul {
    list-style-type: none;
    margin: 0;
    position: absolute;
    padding: 5px 30px 5px 5px;
    z-index: 10;
    background-color: rgba(240, 215, 184, 0.1);
    display: none;
}

.menu-icon:hover>ul {
    display: block;
}

.menu-icon:hover {
    cursor: pointer;
    background-color: rgba(240, 215, 184, 0.1);
}

.nav-logo-title {
    display: flex;
    margin: 0;
}

.nav-title {
    margin-left: 0;
    padding-top: 10px;
    text-align: center;
}

.nav-title span {
    padding: 0;
    display: inline;
    background-color: rgba(0, 0, 0, 0);
}

/* body */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}

section h1 {
    font-size: 32px;
}

section h3 {
    font-size: 16px;
}

.makeBurger-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
}

.ingredient-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.ingredient img {
    width: 30%;
    margin: 20px;
}

#vegetables {
    flex-direction: row;
    justify-content: center;
}

#vegetables img {
    margin: 0 10vw;
    width: 25%;
}

#fish {
    margin-right: 20px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
}



.result img {
    width: 20%;
}

.result > .sauce-result {
    width: 18%;
}

.topBun-result {
    z-index: 50;
}

.veggie-result {
    margin-top: -8%;
    z-index: 40; 
}

.sauce-result {
    margin-top: -6%;
    z-index: 30; 
}

.meat-result {
    margin-top: -8%;
    z-index: 20;
}

.botBun-result {
    margin-top: -9%;
}

.hidden {
    display: none;
}

/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    height: 15vh;
    background-color: #4C1B1B;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 50px;
}

.motto {
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
    margin-left: 4vw;
    white-space: pre-line;
}

.social-media {
    margin-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10vw;
}

.social-media img {
    width: 30px;
}

.footer-info div {
    display: flex;
    align-items: flex-end;
}

.footer-info img {
    width: 30px;
}

.footer-info h2 {
    font-size: 0.8rem;
    text-align: right;
    margin-left: 10px;
    padding-bottom: 5px;
}

.footer-info span {
    font-style: italic;
    font-size: 0.8rem;
}

.location {
    margin-bottom: 5px;
}