@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #F0D7B8;
}

.yellow {
    color: #FFA800;
}

/* header */

main {
    background-image: url("../sprites/home/BG2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {

    height: 15vh;
}

nav {
    display: flex;
    height: 15vh;
}

nav div {
    margin: 20px;
}

nav span {
    padding: 10px;
    display: block;
    text-decoration: none;
}

nav a {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #FFA800;
}

nav li {
    padding: 8px 5px;
}

nav img {
    width: 40px;
}

.menu-icon {
    margin-right: 30px;
    margin-bottom: 19px;
}

.menu-icon ul {
    list-style-type: none;
    margin: 0;
    position: absolute;
    padding: 5px 30px 5px 5px;
    z-index: 10;
    background-color: rgba(240, 215, 184, 0.1);
    display: none;
}

.menu-icon:hover>ul {
    display: block;
}

.menu-icon:hover {
    cursor: pointer;
    background-color: rgba(240, 215, 184, 0.1);
}

.nav-logo-title {
    display: flex;
    margin: 0;
}

.nav-title {
    margin-left: 0;
    padding-top: 10px;
    text-align: center;
}

.nav-title span {
    padding: 0;
    display: inline;
    background-color: rgba(0, 0, 0, 0);
}

/* main */
h1{
    font-size: 2rem;
    
    text-align: center;
}

/* cart */

.container-cart {
    max-width: 900px;
    margin: 0 auto;
    padding: 5rem 1.5rem;
}

.section-header {
    font-family: "Roboto";
    font-weight: bolder;
    color: #FFA800;
    text-align: center;
    font-size: 2.5em;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}


/* form */

.error p{
    font-size: small;
    color: red;
}

.image{
    align-self: flex-start;
    position: relative;
    bottom: 0;
}

.image img{
    margin-top: 20%;
    width: 90%;
    position: relative;
}

.outer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.container{
    border-radius: 15%;
    box-shadow: 0 0 2rem black;

    padding: 5% 5% 10% 5%;
   
    margin: 5rem 10rem 20rem 2.5rem;
}

.container form{
    width: 20vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.container input{
    width: 100%;
}

tr{
    width: 1000vw;
}

.container button{
    margin-left: 15%;
    /* padding: 2px; */
}

option, select, button, input{
    color: black;
}



/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    height: 15vh;
    background-color: #4C1B1B;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 50px;
}

.motto {
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
    margin-left: 4vw;
    white-space: pre-line;
}

.social-media {
    margin-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10vw;
}

.social-media img {
    width: 30px;
}

.footer-info div {
    display: flex;
    align-items: flex-end;
}

.footer-info img {
    width: 30px;
}

.footer-info h2 {
    font-size: 0.8rem;
    text-align: right;
    margin-left: 10px;
    padding-bottom: 5px;
}

.footer-info span {
    font-style: italic;
    font-size: 0.8rem;
}

.location {
    margin-bottom: 5px;
}